
div.app-nav {
    padding-top: 16px;
    height: 72px;
    padding-left: 16px;
    margin-bottom: 16px;
}

p#selected_request_text {
    margin-top: 30%;
}

button.filter-btns {
   margin-left: 90px;
//    margin-right: 90px;
}