
button {
    margin-top: 8%;
    border-radius: 32px;
}

div.next_prev_navigator {
    margin-top: 48px;
}

.section-titles{
    margin-top: 8%; 
    margin-bottom: 8%;
}

div.app-nav {
    padding-top: 16px;
    height: 72px;
    padding-left: 16px;
    margin-bottom: 16px;
}
