

<div class="row bg-dark app-nav">

    <div class="col-md-3">
        <a class="navbar-brand" routerLink="/"> Foster </a>
    </div>

    <div class="col-md-9">

            <ul class="nav justify-content-end">
        
                <li class="nav-item">
                        <a class="nav-link" routerLink="/agencies"> View Agencies </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" routerLink="/foster-request/make"> Make Foster Request </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" routerLink="/foster-request/check"> Check Foster Request </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" routerLink="/about"> About </a>
                </li>
            </ul>

    </div>

</div> 

<div class="container">

    
    <!-- Image Showcases -->
    <section class="showcase">
    <div class="container-fluid p-0">

        <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/child1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2> Come and Get a Family </h2>
            <p class="lead mb-0">
               Come and Get a Family. Come and Get a Family. Come and Get a Family. Come and Get a Family
            </p>
        </div>
        </div>
        
        <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/child2.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
            <h2> Make a Kid Smile </h2>
            <p class="lead mb-0">
                Make a Kid Smile. Make a Kid Smile. Make a Kid Smile. Make a Kid Smile
            </p>
        </div>
        </div>

        <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/child3.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2> Building a Family </h2>
            <p class="lead mb-0">
                Building a Family. Building a Family. Building a Family. Building a Family.
            </p>
        </div>
        </div>

    </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5"> Testimonials...</h2>
        <div class="row">
        <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials1.jpg" alt="">
            <h5>Timothy Kiko</h5>
            <p class="font-weight-light mb-0">
                "I used Fosta to make a family."
            </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials2.jpg" alt="">
            <h5> Alice Kiio </h5>
            <p class="font-weight-light mb-0">
                "Im Alice and Fosta helped me."
            </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials3.jpg" alt="">
            <h5> Alice Kiio </h5>
            <p class="font-weight-light mb-0">
                "Anything is possible with Fosta."
            </p>
            </div>
        </div>
        </div>
    </div>
    </section>




</div>
<app-app-footer></app-app-footer>